<div class="w-1/3 mx-auto">
  <div class="mt-10 sm:mt-0">
    <div class="mt-5 md:col-span-2 md:mt-0">
      <%= form_with(url: results_url, method: "GET") do |form| %>
        <div class="overflow-hidden shadow-2xl sm:rounded-md border">
          <div class="bg-white px-4 py-5 sm:p-6">
            <div class="grid grid-cols-6 gap-6">

              <div class="col-span-6">
                <label for="address" class="block text-sm font-medium text-gray-700">Street address</label>
                <input type="text" name="address" id="address" autocomplete="address" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
              </div>

              <div class="col-span-6 sm:col-span-6 lg:col-span-2">
                <label for="city" class="block text-sm font-medium text-gray-700">City</label>
                <input type="text" name="city" id="city" autocomplete="address-level2" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
              </div>

              <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                <label for="state" class="block text-sm font-medium text-gray-700">State / Province</label>
                <input type="text" name="state" id="state" autocomplete="address-level1" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
              </div>

              <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                <label for="zip" class="block text-sm font-medium text-gray-700">ZIP / Postal code</label>
                <input type="text" name="zip" id="zip" autocomplete="zip" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
              </div>

<!--              <div class="col-span-6 sm:col-span-6">-->
<!--                <label for="country" class="block text-sm font-medium text-gray-700">Country</label>-->
<!--                <select id="country" name="country" autocomplete="country-name" class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">-->
<!--                  <option>United States</option>-->
<!--                </select>-->
<!--              </div>-->

            </div>
          </div>
          <div class="bg-gray-50 px-4 py-3 text-center sm:px-6">
            <button type="submit" class="inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Get Forecast</button>
          </div>
        </div>
      <% end  %>
    </div>
  </div>
</div>

<!-- Footer -->
<div class="w-full">
  <div class="mx-auto w-2/3 mt-20 mb-5"></div>
  <h2 class="font-bold text-6xl text-center">❄️️️</h2>
</div>
